In [9]:
j <- list(name = 'Joe', salary = 55000, union = T)
j[['newcomponent']] <- 3
j

$name
[1] "Joe"

$salary
[1] 55000

$union
[1] TRUE

$newcomponent
[1] 3

In [26]:
x <- list(c1 = 1:5, c2 = 6:10, c3 = 11:15)
x[c('c1', 'c3')]

$c1
[1] 1 2 3 4 5

$c3
[1] 11 12 13 14 15

In [59]:
word_indicies <- list(the = c(1, 2, 3), hi = c(4, 5), yeah = c(6), bye = c(7, 8, 9, 10))
# return sorted named vector of word frequencies
sorted_frequencies <- sort(sapply(word_indicies, length))
word_indicies[names(sorted_frequencies)]

$yeah
[1] 6

$hi
[1] 4 5

$the
[1] 1 2 3

$bye
[1]  7  8  9 10

In [36]:
sorted_frequencies <- sort(unlist(word_frequencies))

In [75]:
g <- c('M', 'F', 'F', 'I', 'M', 'M', 'F')
genders <- c('M', 'F', 'I')
gender_indicies <- lapply(genders, function(gender, v) {return(which(v == gender))}, g)
gender_indicies
class(gender_indicies)

[[1]]
[1] 1 5 6

[[2]]
[1] 2 3 7

[[3]]
[1] 4

[1] "list"

In [74]:
gender_indicies_with_names = list()
for (i in seq(genders)) {
    gender_indicies_with_names[[genders[i]]] <- which(g == genders[i])
}
gender_indicies_with_names

$M
[1] 1 5 6

$F
[1] 2 3 7

$I
[1] 4

In [21]:
z12 <- function(z) {
    return(c(z, z^2))
}

add_one <- function(x) {
    return(x + 1)
}

sapply(1:8, add_one)

[1] 2 3 4 5 6 7 8 9

In [91]:
x <- list(a = 1, b = 2, c = list(d = 5, e = 9))
x[c('a', 'b')] <- 6
x

$a
[1] 6

$b
[1] 6

$c
$c$d
[1] 5

$c$e
[1] 9

In [87]:
x <- list()
x[a]

ERROR: Error in eval(expr, envir, enclos): object 'a' not found