In [41]:
kids <- c('Jack', 'Jill', 'John')
ages <- c(12, 10, 8)
score <- c(5, 6, 3)
d <- data.frame(kids, ages, score, stringsAsFactors = FALSE)

In [56]:
d[, -1]

  ages score
1 12   5
2 10   6
3  8   3

In [57]:
l <- list(kids = kids, ages = ages)
l$k

[1] "Jack" "Jill" "John"

In [26]:
class(d[1])

[1] "data.frame"

In [55]:
?count.fields